
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myVehicleLabel" translate="fleetApp.vehicle.home.createOrEditLabel">Create or edit a Vehicle</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vehicle.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="fleetApp.vehicle.plate" for="field_plate">Plate</label>
            <input type="text" class="form-control" name="plate" id="field_plate"
                    ng-model="vehicle.plate"
                    required ng-maxlength="20" />
            <div ng-show="editForm.plate.$invalid">
                <p class="help-block"
                    ng-show="editForm.plate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.plate.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fleetApp.vehicle.activated" for="field_activated">Activated</label>
            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                    ng-model="vehicle.activated"
                     />
            <div ng-show="editForm.activated.$invalid">
                <p class="help-block"
                    ng-show="editForm.activated.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="fleetApp.vehicle.externalId" for="field_externalId">ExternalId</label>
            <input type="number" class="form-control" name="externalId" id="field_externalId"
                    ng-model="vehicle.externalId"
                     />
        </div>

        <div class="form-group">
            <label translate="fleetApp.vehicle.company" for="field_company">company</label>
            <select class="form-control" id="field_company" name="company" ng-model="vehicle.companyId" ng-options="company.id as company.name for company in companys">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
